<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moiroom">

    <!-- 인터넷 사용 권한 설정-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 외부 저장소(갤러리)에 있는 파일을 읽기 위한 권한을 설정 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moiroom">
        <activity android:name=".SecondActivity"
            android:exported="true">
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao73feb9815bbfa19c168a93f9873366ff" />
            </intent-filter>
        </activity>
<!--콘텐츠 프로바이더 등록-->
        <provider
            android:name=".MyContentProvider"
            android:authorities="com.example.moiroom_content_provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" >
        </provider>
    </application>

    <queries>
        <package android:name="com.example.moiroom_content_provider" />
    </queries>


</manifest>