<?xml version="1.0" encoding="utf-8"?>
<!-- manifest: 앱을 실행하고 관리하는 데 필요한 정보들 설정-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moiroom">

    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 외부 저장소(갤러리)에 있는 파일을 읽기 위한 권한을 설정 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 위치 정보 권한 허용 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <!-- 전화 기록 접근 권한 허용-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 어플별 사용 기록 -->
    <uses-permission android:name="android.permission.ACTION_USAGE_ACCESS_SETTINGS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <!-- sms 접근 권한 허용 -->
    <uses-feature android:name="android.hardware.telephony" android:required="true"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 캘린터 접근 권한 허용 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!-- 네트워크 엑세스 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- queries: 사용자의 기기에서 연결할 다른 앱 설정-->
    <queries>
        <!-- 콘텐트 프로바이더-->
        <package android:name="com.example.moiroom_content_provider" />
        <!-- 안드로이드 헬스-->
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <!--
    application 태그: 안드로이드 앱의 주요 구성과 동작을 정의
    name: 앱의 전역상태를 초기화하는 클래스(앱을 실행하면 제일 먼저 실행되는 클래스)
    allowBackup: 클라우드에 백업 허용 여부(true 추천)
    icon: 앱 아이콘
    label: 앱 이름
    roundIcon: 둥근 앱 아이콘
    supportsRtl: 오른쪽에서 왼쪽으로 이동하는 문자 지원 여부(true 추천)
    theme: 앱의 테마
    -->
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moiroom"
        android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.signin.466064898648-j9ar26egoiv5te26oj7v4j297mlmjmll"
            android:value="466064898648-j9ar26egoiv5te26oj7v4j297mlmjmll.apps.googleusercontent.com" />
        <activity
            android:name=".DetailchartActivity"
            android:exported="true" />
        <activity
            android:name=".InfoupdateActivity"
            android:exported="false" />
        <activity
            android:name=".AdsettingActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/ChatActivityTheme"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".NowMatchingActivity"
            android:theme="@style/NowMatchingTheme"
            android:exported="true" />
        <!--
       activity 태그: 화면에 나타날 액티비티들을 정의
       exported: 다른 앱에서 접근 허용 여부
       -->
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />

        <activity
            android:name=".NaviActivity"
            android:exported="true" />

        <activity
            android:name=".InfoinputActivity"
            android:exported="true">
            <!-- 해당 액티비티가 어떤 (암시적) 인텐트를 수신할 지 정의 -->
            <!-- <intent-filter> -->
            <!-- &lt;!&ndash; action.MAIN: 해당 액티비티를 앱의 메인 액티비티로 지정&ndash;&gt; -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- &lt;!&ndash; category.LAUNCHER: 앱을 처음 실행할 때 실행되는 액티비티로 설정&ndash;&gt; -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true" />

        <activity
            android:name=".extraction.AccessGallery"
            android:exported="true" />
        <activity
            android:name=".extraction.CallExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.SmsExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.PhotoExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.VideoExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.AppExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.CalendarExtract"
            android:exported="true" />
        <activity
            android:name=".extraction.YoutubeExtract"
            android:exported="true">

        </activity>

        <activity
            android:name=".extraction.InstagramExtract"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:scheme="https"-->
<!--                    android:host="example.com"-->
<!--                    android:path="/instagramredirection"-->
<!--                    />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- 해당 액티비티가 어떤 (암시적) 인텐트를 수신할 지 정의 -->
            <intent-filter>
                <!-- action.MAIN: 해당 액티비티를 앱의 메인 액티비티로 지정-->
                <action android:name="android.intent.action.MAIN" />
                <!-- category.LAUNCHER: 앱을 처음 실행할 때 실행되는 액티비티로 설정-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 카카오톡 계정을 통한 인증 및 로그인 관련 클래스-->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <!-- action.VIEW: 외부 앱에서 전달된 데이터를 보여주기 위한 목적 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- category.DEFAULT: 일반적인 동작 수행 가능(뭐가 일반적인지는 아직 잘 모르겠음-->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- category.BROWSABLE: 외부 어플리케이션에서 열릴 수 있도록 허용 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                해당 액티비티가 어떤 데이터를 처리할 수 있는지 정의
                host: 데이터의 호스트. 일반적으로 도메인이나 IP주소
                scheme: 데이터의 스킴 지정. 일반적으로 http같은 프로토콜
                -->
                <data
                    android:host="oauth"
                    android:scheme="kakao1cbfb61d83c4ab599a7d1b1771485417" />
            </intent-filter>
        </activity>

        <activity
            android:name=".extraction.HealthActivity" android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
            </intent-filter>
            <meta-data android:name="health_permissions"
                android:resource="@array/health_permissions" />
        </activity>
        <activity
            android:name=".extraction.RedirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="example.com" />
            </intent-filter>
        </activity>
        <!--
        콘텐트 프로바이더 등록
        콘텐트 프로바이더는 exported를 false 추천
        -->
        <provider
            android:name=".extraction.MyContentProvider"
            android:authorities="com.example.moiroom_content_provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.moiroom.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".MyForegroundService" />
    </application>

</manifest>